body {
    margin: 0px;
    padding: 20px;
    
    background-image: url("../images/fond.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.img-100 {
    min-width: 100px;
}

main {
    min-height: 200vh;
}